.link-input{
  position: relative;
  border-radius: .75rem;
  margin-bottom: 1rem;
  padding: 3rem 4rem;
  background-color: var(--dark-violet);
  background-image: url('/assets/images/bg-shorten-desktop.svg');

  & .shorten-link-form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input{
      width: 80%;
      height: 4rem;
      padding-left: 2rem;
      font-size: 1.2rem;
      border: 1px solid var(--gray);
      border-radius: .5rem;
      outline: none;

      &::placeholder{
        font-weight: 500;
        color: var(--grayish-violet);
      }

      &.error-state{
        border: 3px solid var(--red);

        &::placeholder{
          color: rgb(255, 150, 150);
        }
      }
    }

    & .shorten-btn{
      width: 18%;
      height: 4rem;
      background-color: var(--cyan);
      color: var(--white);
      font-size: 1.2rem;
      font-weight: 600;
      border: none;
      border-radius: .5rem;
      cursor: pointer;
      transition: ease-in-out .1s;

      &:hover{
        background-color: var(--btn-link-hover);
      }
    }

  }

  .error-msg{
    position: absolute;
    color: var(--red);
    font-weight: 500;
    font-style: italic;
    margin-top: .4rem;
  }
}

@media screen and (max-width: 860px) {
  .link-input{
    padding: 2rem;

    & .shorten-link-form{

      & input{
        height: 3rem;
        padding-left: 1rem;
        font-size: 1rem;
        border-radius: .3rem;
      }

      & .shorten-btn{
        height: 3rem;
        font-size: 1rem;
        border-radius: .3rem;
      }
    }

    .error-msg{
      margin-top: .2rem;
      font-size: .8rem;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 600px) {
  .link-input{
    padding: 1.25rem;
    border-radius: .5rem;

    & .shorten-link-form{
      flex-direction: column;

      & input{
        width: 100%;
        margin-bottom: 2rem;
      }

      & .shorten-btn{
        width: 100%;
      }
    }

    .error-msg{
      top: 4.5rem;
      margin-top: 0;
    }
  }
}