.header {
  margin: 6rem auto 10rem;
  overflow: hidden;
  
  & .info-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
  }
  
  & .info-header{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55%;
    
    & .slogan{
      font-size: 5rem;
      line-height: 5.5rem;
      letter-spacing: -.18rem;
      color: var(--very-dark-blue);
    }
    
    & .text-header{
      font-size: 1.35rem;
      font-weight: 500;
      color: var(--grayish-violet);
    }
    
    & .btn-header{
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 2rem;
      margin: 2rem 0;
      padding: .9rem 2.25rem;
      transition: ease-in-out .1s;
      
      &:hover{
        background-color: var(--btn-link-hover)
      }
    }
  }
  
  & .image-container{
    width: 37%;
  }
}

@media screen and (max-width: 860px) {
  .header{
    margin: 3rem auto 9rem;

    & .info-header-container{
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      & .info-header{
        width: 100%;
        flex-direction: column;

        & .slogan{
          font-size: 4.5rem;
          text-align: center;
          padding: 1.5rem 1rem;
        }

        & .text-header{
          font-size: 1.2rem;
          text-align: center;
          padding: 0 5rem;
        }

        & .btn-header{
          margin: 2rem auto;
        }
      }
    }

    & .image-container{
      display: flex;
      justify-content: center;
      width: 100%;

      & img{
        width: 80%;
      }
    }
  }
}