.nav-section{
  margin: 3rem auto;

  .navbar{
    display: flex;
    justify-content: space-between;
  }
  
  .nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    &.left{
      width: 30rem;
  
      & ul li .nav-link {
        margin-left: 2.25rem;
        transition: ease-in-out .1s;

        &:hover{
          color: var(--very-dark-blue);
        }
      }
    }
  
    &.right{
      width: 12.5rem;

      & ul li .nav-link {
        transition: ease-in-out .1s;

        &:hover{
          color: var(--very-dark-blue);
        }
      }
  
      & .btn-link.nav{
        font-weight: 600;
        border-radius: 1.25rem;
        padding: .5rem 1.5rem;
        transition: ease-in-out .1s;

        &:hover{
          background-color: var(--btn-link-hover);
        }
      }
    }
  }

}