.background-statics{
  background-color: rgba(114, 83, 176, 0.07);
}

.info-statics{
  margin: 0 auto;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .statics-titles{
    width: 30rem;
    text-align: center;
    margin-bottom: 6rem;

    & .statics-title{
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--very-dark-blue);
    }

    & .statics-paragraph{
      font-size: 1rem;
      font-weight: 500;
      line-height: 2rem;
      color: var(--grayish-violet);
    }
  }

  & .statics-text-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 23rem;

    & .statics-line{
      position: absolute;
      width: 100%;
      border-bottom: .5rem solid var(--cyan);
    }
  }

}

@media screen and (max-width: 960px) {
  .info-statics{
    & .statics-text-container{
      height: 29rem;
    }
  }
}

@media screen and (max-width: 790px) {
  .info-statics{
    
    & .statics-text-container{
      height: 52.5rem;
      flex-direction: column;

      & .statics-line{
        transform: rotate(90deg);
        top: 25rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .info-statics{

    & .statics-titles{
      width: 100%;

      & .statics-title,
      .statics-paragraph{
        padding: 0 1rem;
      }
    }
    
    & .statics-text-container{
      height: 57rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .info-statics{

    & .statics-titles{

      & .statics-title{
        font-size: 1.75rem;
        letter-spacing: -.08rem;
        padding: 1rem;
      }

      & .statics-paragraph{
        line-height: 1.75rem;
      }
    }
    
    & .statics-text-container{
      height: 66rem;

      & .statics-line{
        width: 200%;
        top: 32rem;
      }
    }
  }
}